:root {
    --medianil1: 1rem;
    --medianil2: .5rem;
}

* {
    box-sizing: border-box;
}






/* **** GLOBALS **** */
body {
    min-height: 100vh;

    margin: 0;
    border: 0;
    padding: 0;
}

#wrap {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    /* margin: var(--medianil1) auto; */
    padding: var(--medianil1) calc(2*var(--medianil1));

    display: grid;
    /* grid-template-rows: auto auto auto 1fr auto; */
    grid-template-rows: auto auto 1fr auto;
    grid-row-gap: var(--medianil1);
}






/* **** HEADER **** */
#wrap>header {
    padding: var(--medianil1);

    display: flex;
    justify-content: space-between;
}


/* **** logo **** */
#wrap>header>h1 {
    padding: 1.1rem;
    margin: 0;
}

#wrap>header #logo {
    align-self: center;
    /* line-height: 0; */
}

#wrap>header #logo img {
    height: 1rem;
    margin-right: .2rem;
    vertical-align: middle;
}


/* **** social **** */
#social {
    align-self: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .1rem;
    justify-items: center;
    align-items: center;
}

#social a {
    padding: .25rem;

    align-self: center;
}






/* **** NAV **** */
nav ul {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: .35rem;
}

nav ul li {
    height: auto;
}

nav ul li a {
    width: 100%;
    padding: .5rem;
    display: block;
}









/* **** BELTNAV **** */
#beltnav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
}

#beltnav article {
    height: 180px;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

#beltnav article>section {
    height: fit-content !important;
    /* max-width:50%; */
}

#beltnav article:nth-child(1)>section {
    align-self: flex-start;
    text-align: left;
}





/* **** MAIN **** */
main>section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

main>section>article {
    grid-column: 2 / 5;
}

main>section>article {
    margin: 1.8rem 0;

    display: grid;
    grid-template-columns: 120px auto;
    grid-column-gap: 1.5rem;
    grid-column-gap: 1.5rem;
}

main>section>article>figure {
    padding: 0;
    margin: 0;
    max-height: 120px;
}






/* **** FOOTER **** */
footer {

    max-height:max-content;
}
