/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  #wrap>header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #wrap>header>#logo {
    align-self: center;
    text-align: center;
    line-height: 1em !important;
  }

  .tag {
    display: block;
  }


  nav ul {
    margin: 0;
    padding: 0;

    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: .35rem;
  }

  nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    margin-bottom: .5rem;
  }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  #wrap>header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #wrap>header>#logo {
    align-self: center;
    text-align: center;
    line-height: 1em !important;
  }

  .tag {
    display: block;
  }


  nav ul {
    margin: 0;
    padding: 0;

    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: .35rem;
  }

  nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    margin-bottom: .5rem;
  }

  #beltnav {
display: flex!important;
flex-direction: row;
flex-wrap:wrap;
  }

  #beltnav article {
    flex-basis: 240px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom:.5rem;
  }

  main>section>article {
    margin: 3rem 0;

    display: block;
}


main>section>article>figure {
  height: 120px;
  width: 120px;
  margin-bottom:1rem;
}



}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

/* @media (min-width: 320px) and (max-width: 480px) { */

@media (max-width: 480px) {

  /* CSS */
  #wrap>header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #wrap>header>#logo {
    align-self: center;
    text-align: center;
    line-height: 1em !important;
  }

  .tag {
    display: block;
  }


  nav ul {
    margin: 0;
    padding: 0;

    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: .35rem;
  }

  nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    margin-bottom: .5rem;
  }


  #beltnav {
    display: flex!important;
    flex-direction: column;
    flex-wrap:wrap;
      }

      #beltnav article {
        flex-grow: 1;
        flex-shrink: 1;
        margin-bottom:.5rem;
      }


      main>section>article {
        margin: 3rem 0;

        display: block;
    }


    main>section>article>figure {
      height: 120px;
      width: 120px;
      margin-bottom:1rem;
    }





}
