@import url("./estructura2.css");
@import url("./media2.css");

:root {
    --sans1: 'Oswald', sans-serif;
    --sans2: 'Bebas Neue', cursive;
    --sans3: 'Noto Sans JP', sans-serif;
    --serif1: 'Times New Roman', serif;
}






/* **** GLOBALS **** */
body {
    font-family: var(--sans1);
    font-size: 15px;
}

a {
    text-decoration: none;
}






/* **** HEADER **** */
header {
    background: #000; /*provisional*/
    color:#999;
}

header a {
    color:#ccc;
}

header a:hover {
    color:#fff;
}


/* **** logo **** */
header #logo {
    /* background: red; */
    /*provisional, amb line-height no es veurà de tota manera */

    font-family: var(--sans1);
    font-size: 1.75rem;
    font-weight: 100;

    line-height: 0;
    /*posem lineheight perquè no alteri alçada ni paddings */
}



header #logo .tag {
font-size: .85em;
font-weight: 200;
}



/* **** social **** */
#social {
    /* - */
    font-size: .9rem;
}

#social a {
    text-align: center;
}






/* **** NAV **** */
nav ul {
    list-style: none;
}

nav ul li {
    background: #999;
    /*provisional*/

    text-align: center;
}

nav ul li a {
    background-color: #666;
    color:#ccc;

    font-family: var(--sans3);
    font-size: .7rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: #333;
}






/* **** BELTNAV **** */
#beltnav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
}

#beltnav article {
    background: #666;
    /*provisional*/
    color: #eee;
    /*provisional*/
}






/* **** MAIN **** */
main>section {
    background: #999;
    /*provisional*/
}

main>section>article {
    background: #333;
    /*provisional*/
}

section {
    /* - */
}





/* **** FOOTER **** */
footer {
    background: #333;
    /*provisional*/
}
