@import url("./estructura2.css");
@import url("./media2.css");

:root {
    --sans1: 'Oswald', sans-serif;
    --sans2: 'Bebas Neue', cursive;
    --sans3: 'Noto Sans JP', sans-serif;
    --serif1: 'Times New Roman', serif;
}






/* **** GLOBALS **** */
body {
    background: #eaeaea;

    font-family: var(--sans1);
    font-size: 15px;
}

a {
    text-decoration: none;
}

#wrap {
    background: #ffffffcc;
    /* background: #121212ff; */
    /* box-shadow: 0 0 1rem 1rem #33333333; */
}


/* **** HEADER **** */
#wrap>header {
    background: #000;
    /*provisional*/
    background: linear-gradient(90deg, #000000ff, #00000000, #000000ff), url("../../imgs/bg/vecto-bg.svg");
    color: #999;
}

#wrap>header a {
    color: #ccc;
    transition: all .25s ease-in-out;
}

#wrap>header a:hover {
    color: #fff;
}


/* **** logo **** */
#wrap>header #logo {
    /* background: red; */
    /*provisional, amb line-height no es veurà de tota manera */

    font-family: var(--sans1);
    font-size: 1.75rem;
    font-weight: 100;

    line-height: 0;
    /*posem lineheight perquè no alteri alçada ni paddings */
}

#wrap>header #logo .tag {
    font-size: .7em;
    font-weight: 300;
}



/* **** social **** */
#social {
    /* - */
    font-size: .9rem;
}

#social a {
    text-align: center;
}






/* **** NAV **** */
nav ul {
    list-style: none;
}

nav ul li {
    /*provisional*/

    text-align: center;
}

nav ul li a {
    background: #ccccccff;
    color: #000;

    font-family: var(--sans1);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;

    transition: all .25s ease-in-out;
}

nav ul li:nth-child(1) a {
    background: #5297ac;
}

nav ul li:nth-child(2) a {
    background: #a6c6c1;
}

nav ul li:nth-child(3) a {
    background: #e6e0cf;
}

nav ul li:nth-child(4) a {
    background: #debfb5;
}

nav ul li:nth-child(5) a {
    background: #baa6a5;
}

nav ul li:hover a {
    background: #000000ff;
    color: #ccc;
    /* filter:saturate(360%); */
}






/* **** BELTNAV **** */
#beltnav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
}

#beltnav article {
    background: #666;
    /*provisional*/
    color: #eee;
    /*provisional*/
    filter: saturate(5%);

    transition: all .25s ease-in-out;
}

#beltnav article a {
    color:#333;
}

#beltnav article:nth-child(1) {
    background: url("../../imgs/articles/codi.jpg");
    background-size: 2000px;
    background-position: center;
}

#beltnav article:nth-child(2) {
    background: url("../../imgs/articles/productesGrafics.png");
    background-size: contain;
}

#beltnav article:nth-child(3) {
    background: url("../../imgs/articles/classe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#beltnav article:nth-child(3) section {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 50%;

background: linear-gradient(90deg, #ffffff33, #333333ff);

    font-size: 1rem;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

#beltnav article:nth-child(3) section a {
    background: #f93;
    color:#eee
;    padding: 0 .25rem;
}

#beltnav article:hover {
    filter: saturate(100%);
}



/* **** MAIN **** */
main>section {
    border: 1px dashed grey;
    /*provisional*/
}

main>section>article {
    border: 1px dashed grey;

    /*provisional*/
}

/* section {

}
 */






/* **** FOOTER **** */
footer {
    /* background: #000; */
    /*provisional*/
    /* background: linear-gradient(90deg, #000000ff, #00000000, #000000ff), url("../../imgs/bg/vecto-bg.svg"); */
    /*provisional*/
}
