@import url("./estructura2.css");
@import url("./media2.css");

:root {
    --sans1: 'Oswald', sans-serif;
    --sans2: 'Bebas Neue', cursive;
    --sans3: 'Noto Sans JP', sans-serif;
    --sans4: 'Nunito', sans-serif;
    --serif1:'Roboto Slab', serif;
}






/* **** GLOBALS **** */
body {
    /* background: #fff; */
    background: #eaeaea;
    /* background: #222222; */

    font-family: var(--sans1);
    font-size: 16px;
}

a {
    text-decoration: none;
}

#wrap {
    /* background: #eaeaeacc; */
    background: #fff;
    /* background: #606060ff; */
    /* box-shadow: 0 0 1rem 1rem #33333333; */
}


/* **** HEADER **** */
#wrap>header {
    background: #000;
    /*provisional*/
    background: linear-gradient(90deg, #000000ff, #00000000, #000000ff), url("../../imgs/bg/vecto-bg.svg");
    color: #999;
}

#wrap>header a {
    color: #ccc;
    transition: all .25s ease-in-out;
}

#wrap>header a:hover {
    color: #fff;
}


/* **** logo **** */
#wrap>header #logo {
    /* background: red; */
    /*provisional, amb line-height no es veurà de tota manera */

    font-family: var(--sans1);
    font-size: 1.8rem;
    font-weight: 100;

    line-height: 0;
    /*posem lineheight perquè no alteri alçada ni paddings */
}

#wrap>header #logo .tag {
    font-size: .7em;
    font-weight: 300;
}



/* **** social **** */
#social {
    /* - */
    font-size: .9rem;
}

#social a {
    text-align: center;
}






/* **** NAV **** */
nav ul {
    list-style: none;
}

nav ul li {
    /*provisional*/

    text-align: center;
}

nav ul li a {
    background: #ccccccff;
    color: #000;

    font-family: var(--sans3);
    font-size: .85rem;
    font-weight: 400;
    /* letter-spacing: .1rem; */
    /* text-transform: uppercase; */

    transition: all .25s ease-in-out;
}

nav ul li:nth-child(1) a {
    /* background: #5297ac; */
    background: hsl(194, 0%, 50%);
}

nav ul li:nth-child(2) a {
    /* background: #a6c6c1; */
    background: hsl(171, 0%, 71%);
}

nav ul li:nth-child(3) a {
    /* background: #e6e0cf; */
    background: hsl(44, 0, 86%);
}

nav ul li:nth-child(4) a {
    /* background: #debfb5; */
    background: hsl(15, 0, 79%);
}

nav ul li:nth-child(5) a {
    /* background: #baa6a5; */
    background: hsl(3, 0, 69%);
}

nav ul li:hover a,
nav ul li a.selected {
    background: #000000ff;
    color: #ccc;
    /* filter:saturate(360%); */
}







/* **** BELTNAV **** */
#beltnav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
}

#beltnav article {

    background: #000;
    /*provisional*/
    color: #eee;
    /*provisional*/

    font-family: var(--sans1);
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: .05em;

    filter: saturate(0%);
    transition: all .25s ease-in-out;
}

#beltnav article>section {
    background: #101c2799;
    /* padding: .5rem; */
}

#beltnav article>section>.time {
    font-size: .75em;
    text-transform: initial;
}

#beltnav article>section>h4 {
    font-family: var(--sans1);
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: inline-block;
}


#beltnav article a {
    background: red;
    color: #fff;

    font-weight: bolder;

    display: inline-block;
    padding: 0 .2rem !important;
}

#beltnav article:nth-child(1) {
    background: url("../../imgs/articles/codi-creatiu_768.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}

#beltnav article:nth-child(2) {
    background: url("../../imgs/articles/dissenyprod_318.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
}

#beltnav article:nth-child(3) {
    background: url("../../imgs/articles/classe2_300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#beltnav article:hover {
    filter: saturate(100%);

}



/* **** MAIN **** */

main>section {
    /* border: 1px dashed grey; */
    /*provisional*/
    padding: 2rem 0;
}

main>section>article {
    /* border: 1px dashed grey; */
    /*provisional*/

    font-family: var(--serif1);
    font-size: 1rem;
}
main>section>article h4 {
    padding: 0;
    margin: 0;
    font-family: var(--sans1);
    text-transform: uppercase;
}

main>section>article .small {
    font-size: .7em;
    font-family: var(--sans4);
    font-weight: 900;
}

main>section>article>figure {
    border:4px solid white;
    box-shadow: .1rem .1rem .2rem .1rem #00000033;
    filter: saturate(0%);
}

main>section>article#art-decissions>figure {
    background: url("../../imgs/articles/cervell332.jpg");
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

main>section>article#art-almaguer>figure {
    background: url("../../imgs/articles/layout.png");
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

main>section>article#art-arrow>figure {
    background: url("../../imgs/articles/arrow.jpg");
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

main>section>article#art-poo>figure {
    background: url("../../imgs/articles/poo2.jpg");
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

main>section>article a {
    color:white;
    background-color: black;
    display: inline-block;
    margin-top:.6rem;
    padding: .2rem;
    transition: all .25s ease-in-out;
}

main>section>article a:hover {
    background:red;
}



/* **** FOOTER **** */
footer {
    /* background: #000; */
    /*provisional*/
    background: linear-gradient(90deg, #000000ff, #00000000, #000000ff), url("../../imgs/bg/vecto-bg.svg");
    /*provisional*/

    color: #999;

    max-height: fit-content;
    padding: 2rem;

    font-family: var(--sans1);
    font-size: .85em;
    font-weight: 400;
}

footer a {
    color:#999;
    font-weight: 600;
    transition: all .25s ease-in-out;
}

footer a:hover {
    color: white;
}
